#add-to-cart {
      /* position: relative; */
      z-index: 2;
      width: 34px;
      height: 34px;
      border-style: none;
      border-radius: 50%;
      bottom: 180px;
      margin-left: -60px;
      margin-right: 30px;
}

#accessory-1 {
      top: 0;
      left: 0;
      background-color: white;
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
}

#accessory-2 {
      background-color: black;
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
}

#accessory-1:hover {
      /* position: relative; */
      top: 0;
      left: 0;
      background-color: white;
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
      cursor: pointer;
}

#accessory-2:hover {
      background-color: black;
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
      cursor: pointer;
}