#contact-box {
      height: 62vh;
      background-color: rgb(37, 35, 35);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 13px;
      padding-top: 6%;
      background: linear-gradient(
        to bottom,
        rgb(33, 31, 31) 0%,
        rgb(66, 63, 63) 100%
      )
}
#help-box {
      border: solid 3px rgb(181, 176, 176);
      border-radius: 13px;
      padding: 34px;
}

#return-box{
      font-size: 28px;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

h1 {
      font-size: 35px;
      padding: 21px;
    }
#call-support {
      font-size: 21px;
      padding: 21px;
    }