#about-box {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      text-align: center;
}

#about  {
      margin-top: -62px;
      color:rgb(13, 26, 35);
      font-size: 25px;
}

#profile-picture {
      margin-bottom: 1px;
      margin-top: -51px;
      border: 3px solid rgb(40, 73, 93);
      border-radius: 50%;
      transform: scale(55%);
}