#cc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#currency-converter {
      background-color: rgba(236, 222, 211, 0.9);
      padding: 10px;
      padding: 34px;
      text-align: center;
      box-shadow: 0 3px 10px rgba(83, 35, 35, 0.6);
      border: solid 3px rgb(46, 47, 48);
      border-radius: 13px;
      box-shadow: 0px 0px 3px 3px  rgba(176, 167, 167, 0.4);
    }
    
    .input-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(47, 49, 49);
      padding: 30px;
      border: solid 1px rgb(181, 184, 188);
      border-radius: 10px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    
    .exchange-rate {
      background: linear-gradient(90deg, rgb(165, 174, 171) 9%, rgb(110, 117, 116) 48%, rgba(203,211,210,1) 91%);
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-bottom: solid 1px rgb(27, 28, 29);
      border-radius:7px;
    }
    
    #xd, td  {
      color:aliceblue;
      margin-bottom: 11px;
      margin-top: -10px;
    }
    
    #co-input, select, button {
      background-color: rgb(70, 66, 66);
      font-size: 13px;
      color:aliceblue;
      border-radius: 5px;
      margin: 11px;
    }
    
    .app-wrapper {
      display: flex;
    }
    
    .button {
      border: none;
      float: right;
      margin: 2px;
    }
    
    .button:hover {
      background-color: coral;
    }
    
    /* .input, select {
      border: none;
    } */