.portfolio-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

#rs-link{
  margin:20px;
}
#cc-link{
  margin:20px;
}
#lmno-link{
  margin:20px;
}
#gl-link{
  margin:20px;
}
#ti-link{
  margin:20px;
}
#co-link{
  margin:20px;
}

#rs-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rs {
  width: 700px;
  height: 300px;
  background-color: rgb(215, 205, 18);
  border-radius: 6px;
  text-align: center;
}

#cc-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lmno-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lmno {
  width: 700px;
  height: 300px;
  background-color: rgb(28, 93, 197);
  border-radius: 6px;
  text-align: center;
}

#ti-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ti {
  width: 400px;
  height: 200px;
  background: linear-gradient(90deg, rgb(165, 174, 171) 9%, rgb(110, 117, 116) 48%, rgba(203,211,210,1) 91%);
  border-radius: 6px;
  text-align: center;
}

#span-box {
  font-size: 66px;
  margin-top: 20px;
}



