body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .jsx-box {
      background: linear-gradient(90deg, rgb(165, 174, 171) 9%, rgb(110, 117, 116) 48%, rgba(203,211,210,1) 91%);
      border: solid 1px rgb(16, 16, 16);
      border-radius: 6px;
      margin-top: 20px;
      padding: 20px;
    }


    .display-box {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .display {
      width: 300px;
      height: 300px;
      border-radius: 6px;
      border: solid 1px rgb(16, 16, 16);
    }

    .rgba-box {
      text-align: center;
      display: flex;
      justify-content: center;
      border-radius: 6px;
      font-family: 'Dank Mono';
      font-size: 21px;
    }
    
    .rgbaValues {
      font-family: Titillium Web;
      color: aliceblue;
      margin: 6px;
    }

    .input-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-evenly;
    }

    .select-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .select {
      font-family: Titillium Web;
      border-radius: 6px;
      height: 28px;
      text-align: center;
    }
    