* {
  font-family: 'Dank Mono';
  color:rgb(232, 237, 239);
  text-align: center;
}


 body {
  min-width: 100%;
  text-align: center;
  background: linear-gradient(
        to top,
        rgb(33, 31, 31) 0%,
        rgb(66, 63, 63) 100%
      )
}

p {
  font-size: 13px;
}



