#co-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    #co {
      width: 700px;
      height: 300px;
      border-radius: 6px;
      text-align: center;
      align-items: center;
    }


#co-form-box{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    #co-form {
      background: rgb(139,150,146);
      background: linear-gradient(90deg, rgb(165, 174, 171) 9%, rgb(110, 117, 116) 48%, rgba(203,211,210,1) 91%);
      padding: 35px;
      height: 175px;
      width: 360px;
      border: 1px solid rgba(30, 40, 36, 0.206);
      border-radius: 6px;
    }
    
    #cvc {
      max-width: 30px;
    }
    
    #cn,#cvc,#fn,#ln,#ln::-webkit-input-placeholder {
      text-align: center;
    }
    
    #cob{
      margin-top: 15px;
    }
    