#home-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
  top:0;
  background:
      linear-gradient(
        to bottom,
        rgb(33, 31, 31) 0%,
        rgb(57, 54, 54) 100%
      )
}


#canister-details {
  background-color: black;
  border-radius: 13px;
  height: 200px;
  width: 200px;
  margin: 20px;
}

#canister-1 {
      background-color: rgb(14, 14, 14);
      height: 50px;
      width: 50px;
      border-radius: 5%;
}

#canister-2 {
      background-color: rgb(228, 214, 214);
      height: 50px;
      width: 50px;
      border-radius: 5%;
}

#canister-1:hover {
      background-color: rgb(46, 43, 43);
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 5%;
}

#canister-2:hover {
      background-color: rgb(246, 240, 240);
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 5%;
}

#product-1 {
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
      cursor: pointer;
}
#product-2 {
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
      cursor: pointer;
}
#product-3 {
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
      cursor: pointer;
}
#product-4 {
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
      cursor: pointer;
}
#product-5 {
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
      cursor: pointer;
}
#product-6 {
      border-radius: 13px;
      height: 200px;
      width: 200px;
      margin: 20px;
      cursor: pointer;
}

#shopping-cart {
      height: 300px;
      width: 300px;
}