html {
  font-family: Titillium Web;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.links {
  text-decoration: none;
  display: flex; 
  margin-top: 34px;
}

.link {
  text-decoration: none;
  margin-left: 111px;
  margin-right: 111px;
  font-size: 28px;
  color:rgb(46, 60, 77);
}

